/* FORMATANDO O FALE-CONOSCO */

/* Alterando o tamanho do formulário */
form {
    width: 600px;
    margin: auto;
}

/* Estilizando todos os inputs e text áreas */
input, textarea {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 13pt;
    background-color: rgba(255, 255, 255, 0.8);
}   

/* Colocando efeito para quando passa o mouse sobre as áreas ficará preenchido o de cinza */
input:hover, textarea:hover{
    background-color: #dddddd;
}

/* Estilizando as legendas de cada seção, ex: <legend>Quero um Google Glass</legend> */
legend {
    color: #888888;
    font-weight: bold;
    font-size: 14pt;
    font-family: sans-serif;
}

/*Estilizando o fild set de cada seção, ex: <fieldset id="mensagem"> */
fieldset {
    border-color: #cecece;
    margin: 20px;
}
/* Estilizando somente o campo de fildset de sexo que está no html, ex:<fieldset id="sexo"><legend>Sexo</legend> */
fieldset#sexo{
    width: 200px;
}

/* Adicionando imagem de backgroud para cada seção */
fieldset#usuario{
    background: url("../_imagens/icone-contato.png") no-repeat 95% 95%;
}

fieldset#endereco{
    background: url("../_imagens/icone-endereco.png") no-repeat 95% 95%;
}

fieldset#mensagem{
    background: url("../_imagens/icone-mensagem.png") no-repeat 95% 95%;
}

fieldset#pedido{
    background: url("../_imagens/icone-pagamento.png") no-repeat 95% 95%;
}